<!DOCTYPE html>
<html lang="en">
{{ template "header.html" . }}

<body>
    <div class="card text-left">
        <div class="card-body">
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addModal">
                Добавить</button>
        </div>
    </div>
    <div class="card text-left">
        <div class="card-body">
            <div>
                <table id="statuses"
                    class="table  table-hover table-bordered border-1 rounded rounded-3 overflow-hidden align-middle">
                    <thead>
                        <tr>
                            <th class="table-primary" scope=" col">Наименование</th>
                            <th class="table-primary" scope=" col">Уровень</th>
                            <th class="table-primary" scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Attributes.Statuses}}
                        <tr class=" = " onclick="location.href = '/status/update?id={{ .ID }}'"
                            style="cursor: pointer;">
                            <td>{{ .Name }}</td>
                            <td>{{ .Level.Name }}</td>
                            <td>
                                <a href="/status/delete?id={{ .ID }}" class="btn btn-outline-danger"
                                    role="button">Удалить</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td>Отсутствуют статусы</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Добавить новый статус</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/status/create" method="POST">
                            <div class="form-group">
                                Наименование:<input type="text" class="form-control" placeholder="Наименование"
                                    name="name">
                            </div>
                            <div class="col">
                                <div name="level" class="form-group" data-width='auto'>
                                    Уровень:
                                    <select name="levelid" id="levelid" required class="form-select"
                                        data-live-search="true" noneResultsText="Нет совпадений" data-size="10"
                                        width="auto">
                                        {{ range $level := index $.Attributes.PossibleLevels}}
                                        <option value={{ $level.ID}}>{{ $level.Name}} </option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-outline-success">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#statuses').DataTable({
                    language: { url: '../static/DataTables/language.json' },
                    order: [[1, 'desc']],
                });
            });
        </script>
</body>
{{ template "footer.html" . }}

</html>