<!DOCTYPE html>
<html lang="en">
{{ template "header.html" . }}
<body>      
        <form action="/user/login" method="POST">
               <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000" >
                    <img src="./static/img/index/logo3.jpg" class="d-block w-100" alt="..." style="height: 500px; object-fit: scale-down ;">
                    <div class="carousel-caption d-none d-md-block" style="background-color:rgba(11, 135, 252, 0.753); padding: 10px;">
                      <p class="lead"  style="font-size: 2rem; color: white;"></p>
                      <p class="lead"  style="font-size: 2rem; color: white;">ПОДДЕРЖКА</p>
                      <p class="lead" style="font-size: 1.2rem; color: white;">На связи 24/7</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="./static/img/index/logo3.jpg" class="d-block w-100" alt="..." style="height: 500px; object-fit: scale-down ;">
                    <div class="carousel-caption d-none d-md-block" style="background-color:rgba(11, 135, 252, 0.753); padding: 10px;">
                      <p class="lead" style="font-size: 2rem; color: white;">ТРЕБОВАНИЯ</p>
                        <p class="lead"style="font-size: 1.2rem; color: white;">От концепции до тестов</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./static/img/index/logo3.jpg" class="d-block w-100" alt="..." style="height: 500px; object-fit: scale-down ;">
                    <div class="carousel-caption d-none d-md-block" style="background-color:rgba(11, 135, 252, 0.753); padding: 10px;">
                      <p class="lead" style="font-size: 2rem; color: white;">РАЗРАБОТКА</p>
                      <p class="lead" style="font-size: 1.2rem; color: white;">Прозрачный учет трудозатрат</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Назад</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Вперед</span>
                </button>
              </div>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                  <p class="lead" class="text-center">Авторизация в системе</p>
            <div class="d-flex justify-content-center">           
                <div class="row gx-3">
                    <div class="col w-100">
                        <div class="form-group">
                            <input type="login" class="form-control" placeholder="Имя пользователя" name ="login" required>
                        </div>
                    </div>
                    <div class="col w-100">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Пароль" name ="password" required>
                        </div>
                    </div>
                    <div class="col w-100">
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-outline-success">   Войти   </button>
                        </div>
                    </div> 
                </div>
            </div>         
        </form>
        {{if .Signals }}
        <div class="d-flex justify-content-center"> 
          <div class="row gx-3">
            <div class="col w-100">
               <div class="alert alert-primary alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                 <strong>Внимание!</strong> {{.Signals.Login}}
              </div>    
            </div>
          </div>
        </div>            
        {{end}} 
        <div class="text-center">Нет учетной записи? <a href="/user/reg">Зарегистрироваться</a>
        </div>
        <div class="text-center">Забыли имя пользователя или пароль? <a href="/user/restore">Восстановить</a></div>
    </div>
    <div>
      <canvas id="myChart"></canvas>
    </div>
</body>
{{ template "footer.html" . }}
</html>