<!DOCTYPE html>
<html lang="en">
    
{{ template "header.html" . }}

<div class="card text-left">
    <div class="card-body">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addModal"> Добавить</button>
    </div>
    <script>
        $(document).ready( function () {
            $('#accounts').DataTable({language: {url:'../static/DataTables/language.json'},
            order: [[3, 'desc']],
        });
        } );
    </script>
  
    </body>
    {{ template "footer.html" . }}
    </html>
      -->
</div>
