<!DOCTYPE html>
<html lang="en">
    {{ template "header.html" . }}
<body>
    <div class="jumbotron text-center">
        <h1>Регистрация для работы на автоматизированном рабочем месте</h1>  
    </div>
    <div class="container">
       На адрес электронной почты {{.User.Email}} отправлено письмо для подтверждения регистрации {{.User.Login}} для работы на автоматизированном рабочем месте. 
       Дальнейшая работа невозможна без подтверждения регистрации. 
       В случае некорректного адреса электронной почты зарегистрируйтесь повторно. 
       В случае необходимости повторно отправить письмо, нажмите <div class="text-center">сюда<a href="/user/email?id={{.User.Email}}">Зарегистрироваться</a>
    </div>
</body>
{{ template "footer.html" . }}
</html>