<!DOCTYPE html>
<html lang="en">
{{ template "header.html" . }}
<div class="container">
    <div class="card-body">
    <form action="/user/update" class="needs-validation" novalidate method="POST">
        <h1>Редактирование информации о пользователе {{.Attribute.Login}} </h1>
        <div class="mb-3">
            <label class ="control-label"  for="surname">Фамилия</label>
            <input  {{if .Attribute.Surname }}
                            value={{ .Attribute.Surname }}
                    {{end}} 
                    type="text" class="form-control" name ="surname" required>
            <div id="help" class="form-text">Данные используются только для удобства идентификации и обращения к пользователю</div>
            <div class="invalid-feedback">Пожалуйста укажите фамилию пользователя</div>
        </div>
        <div class="mb-3">
            <label class ="control-label"  for="name">Имя</label>
            <input  {{if .Attribute.Name }}
                            value={{ .Attribute.Name }}
                    {{end}} 
                    type="text" class="form-control" name ="name" required>
            <div id="help" class="form-text">Данные используются только для удобства идентификации и обращения к пользователю</div>
            <div class="invalid-feedback">Пожалуйста укажите имя пользователя</div>
        </div>
        <div class="mb-3">
            <label class ="control-label"  for="name">Отчество</label>
            <input  {{if .Attribute.Patronymic }}
                            value={{ .Attribute.Patronymic }}
                    {{end}} 
                    type="text" class="form-control" name ="patronymic" required>
            <div id="help" class="form-text">Данные используются только для удобства идентификации и обращения к пользователю</div>
            <div class="invalid-feedback">Пожалуйста укажите отчество пользователя</div>
        </div>
        <div class="col">
            <label for="phonenumber">Контактный номер телефона:</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="phonenumber">+7</span>
                <input 
                    {{if .Attribute.Phone }}
                                value={{.Attribute.Phone}} 
                        {{end}} 
                    type="number" class="form-control" placeholder="4232406845" name ="phonenumber" required>
                <div class="invalid-feedback">Пожалуйста укажите корректный номер телефона (без +7 или 8)</div>
            </div>  
    </div>
        <a href="/" class="btn btn-outline-danger">Отменить</a>
                    <button type="submit" class="btn btn-outline-success">Применить</button>
                    {{if .Signal }}
                    <div class="alert alert-danger" role = "alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Внимание! </strong>{{.Signal}}
                    </div>            
                    {{end}}    
</form>
</div> 
</form>       
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })()
    </script>
 <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
{{ template "footer.html" . }}
</html>