<!DOCTYPE html>
<html lang="en">
{{ template "header.html" . }}
<div class="container">
    <form action="/user/update" class="needs-validation" novalidate method="POST">
        <h4>Редактирование информации о пользователе: {{.Attributes.User.Login}} </h4>
        <div class="row align-items-start">
            <div class="col">
                <label class ="control-label"  for="login">Имя пользователя:</label>
                <input  {{if .Attributes.User.Login }}
                                value={{.Attributes.User.Login}} 
                        {{end}} 
                        type="text" class="form-control" placeholder="Логин" name ="login" required>
                <div class="invalid-feedback">Пожалуйста укажите логин</div>
            </div>
            <div class="col">
                <label for="password">Пароль:</label>
                <input 
                {{if .Attributes.User.Password }}
                            value={{.Attributes.User.Password}} 
                    {{end}} 
                type="password" class="form-control" placeholder="Пароль" name ="password" required>
        
            <div class="invalid-feedback">Пожалуйста укажите пароль</div>
            </div>
          </div> 
          <div class="row align-items-start">
            <div class="col">
                <label for="familyname">Фамилия:</label>
                <input 
                {{if .Attributes.User.FamilyName }}
                            value={{.Attributes.User.FamilyName}} 
                    {{end}}                  
                type="text" class="form-control" placeholder="Иванов" name ="familyname" required>
            <div class="invalid-feedback">Пожалуйста укажите фамилию</div>
            </div>
            <div class="col">
                <label for="name">Имя:</label>
                <input 
                {{if .Attributes.User.Name }}
                            value={{.Attributes.User.Name}} 
                    {{end}}           
                type="text" class="form-control" placeholder="Иван" name ="name" required>
              <div class="invalid-feedback">Пожалуйста укажите имя</div> 
            </div>
            <div class="col">
                <label for="patronname">Отчество:</label>
                <input 
                {{if .Attributes.User.PatronName }}
                            value={{.Attributes.User.PatronName}} 
                    {{end}} 
                
                type="text" class="form-control" placeholder="Иванович" name ="patronname" required>
            <div class="invalid-feedback">Пожалуйста укажите отчество</div>    
        </div>
    </div> 
    <div class="row align-items-start">
        <div class="col">
            <label for="email">Адрес электронной почты:</label>
            <input 
            {{if .Attributes.User.Email }}
                        value={{.Attributes.User.Email }} 
            {{end}}   
          type="email" class="form-control" placeholder="priemn@dvec.ru" name ="email" required>
        <div class="invalid-feedback">Пожалуйста укажите корректный адрес электронной почты</div>
        </div>
        <div class="col">
                <label for="phonenumber">Контактный номер телефона:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="phonenumber">+7</span>
                    <input 
                        {{if .Attributes.User.Phone }}
                                    value={{.Attributes.User.Phone}} 
                            {{end}} 
                        type="number" class="form-control" placeholder="4232406845" name ="phonenumber" required>
                    <div class="invalid-feedback">Пожалуйста укажите корректный номер телефона (без +7 или 8)</div>
                </div>  
        </div>
        <div class="col">
        <div name="role" class="form-group" data-width='auto'>
            Роль:
            <select name="roleid" id="roleid" required class="form-select" data-live-search="true" 
            noneResultsText="Нет совпадений" data-size="10" width="auto">
                <option value = {{.Attributes.User.Role.ID}}>--Текущая роль: {{.Attributes.User.Role.Name}}--</option>
                {{ range $role := index $.Attributes.PossibleRoles}}
                <option value = {{ $role.ID}} >{{ $role.Name}} </option>
                {{ end }}
            </select>
        </div>
        </div>
        <div class="d-flex flex-column flex-sm-row align-items-center">
            <button type="submit" class="btn btn-outline-success mb-2 mb-sm-0 me-sm-2" style="min-width: 150px;">Сохранить изменения</button>
            <a href="/" class="btn btn-outline-danger">Отменить</a>
            {{if .Signals }}
            <div class="alert alert-danger mb-0" role="alert" style="flex: 1; display: flex; align-items: center;">
                <strong>{{.Signals.Russ}}:</strong>&nbsp;{{.Signals.Err}}
            </div>
            {{end}}
        </div>
</form>
</div> 
</form>       
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })()
    </script>
 <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
{{ template "footer.html" . }}
</html>